$blockClassName: 'country';
$gap: 20px;

.#{$blockClassName} {
  margin-top: space(15);
  padding: space(10) space(20);

  &__wrapper {
    display: grid;
    row-gap: $gap;
  }
  &__title {
    margin-bottom: space(5);
  }
  &__flag {
    display: flex;
    justify-content: center;
    max-width: 460px;
  }
  &__img {
    max-width: 100%;
  }
  &__title {
    font-weight: $font-weight-fat;
  }
  &__details {
    font-size: $font-size-16;

    &:not(:last-child) {
      margin-bottom: space(2);
    }
  }
  &__detailTitle {
    font-weight: $font-weight-medium;
  }
  &__detailSpec {
    font-weight: $font-weight-regular;
    color: var(--spec-color)
  }
  &__borders {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: space(4);
  }
  &__borderTitle {
    min-width: 130px;
    font-weight: $font-weight-medium;
    margin-right: space(4);
    margin-bottom: space(4);
  }
  &__borderItems {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__borderItem {
    margin-bottom: space(2);
  }
  &__back {
    display: flex;
    margin-bottom: space(15);
  }
  &__arrow {
    margin-right: space(2);
  }

  @include respond-to(md) {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      column-gap: $gap;
      align-items: center;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__specs {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
    &__title {
      margin-bottom: space(8);
    }
    &__borders {
      align-items: center;
      flex-direction: row;
      margin-top: space(17);
    }
    &__borderTitle {
      margin-bottom: space(0);
    }
  }
}
