$font-size-14: 14px;
$font-size-16: 16px;

$font-weight-regular: 300;
$font-weight-medium: 600;
$font-weight-fat: 800;

$home-page-items-font-size: $font-size-14;
$details-page-items-font-size: $font-size-16;
